/* Підключення файлу обнулення */
@import url('reset.css');

/* Підключення файлу шрифтів */
@import url('fonts.css');

/* Підключення шрифтів через Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,500,700&display=swap");
/*  */

/* ========================================================= */

/* :root {
	color-scheme: dark;
} */

body {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	/* padding: 20px; */
	background-color: rgb(66, 66, 66);
	color: #fff;
}

[class*="__container"] {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}
/* ========================================================= */

.link {
	color: rgb(0, 176, 176);
	transition: 0.5s all;
	margin-bottom: 15px;
	text-decoration: underline transparent;
}
.link:hover {
	color: rgb(0, 236, 236);
	text-decoration: underline;
}
.text-block {
	max-width: 350px;
	background-color: grey;
	padding: 12px;
	display: none;
}
.text-block:target {
	display: block;
}

/* ========================================================= */

.section__about {
	background-color: black;
	text-align: center;
	font-family: Exo, sans-serif;
	padding: 120px 0;
}
.about__block {
	max-width: 992px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.about__block > * {
	margin-bottom: 20px;
}
.about__block > *:last-child {
	margin-bottom: 0px;
}
.about__title {
	display: inline-block;
	color: #FFF;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.16; 
	text-transform: uppercase;
}
.about__title::after {
	content: '';
	height: 1px;
	display: block;
	margin-inline: -16.6%;
	margin-top: 20px;
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,16,1) 50%, rgba(38,0,255,1) 100%);
}
.about__text {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 2.22;
	letter-spacing: -0.36px;
	text-transform: capitalize;
}

.about__list {
}
.list-about {
}
.list-about__item {
	display: inline-block;
}
.list-about__item:hover > a {
	text-decoration: underline;
}
.list-about__item::after {
	content: '';
	height: 10px;
	width: 10px;
	vertical-align: middle;
	border-radius: 50%;
	margin-left: 60px;
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,16,1) 50%, rgba(38,0,255,1) 100%);
}
.list-about__item:not(:last-child) {
	margin-right: 60px;
}

/* ========================================================= */

.section__consult {
	background-color: black;
	font-family: Exo, sans-serif;
	padding: 120px 0;
}
.consult__container > * {
	margin-bottom: 20px;
}
.consult__container > *:last-child {
	margin-bottom: 0px;
}
.consult__container {
	max-width: 1304px;
}
.consult__title {
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.16;
	text-transform: uppercase;
}
.consult__title::after {
	content: '';
	height: 1px;
	display: block;
	margin-right: -16.6%;
	margin-top: 20px;
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,16,1) 50%, rgba(38,0,255,1) 100%);
}
.consult__contacts {
	font-size: 0;
}
.contacts__item {
	display: inline-block;
	line-height: 1.4;
	font-size: 20px;
	margin-right: 80px;
	font-weight: 400;
	letter-spacing: -0.4px;
	text-transform: lowercase;
}
.contacts__item:hover > a {
	text-decoration: underline;
}
.contacts__img {
	max-width: 20px;
	margin-right: 20px;
	vertical-align: middle;
}

/* ========================================================= */

.section__krovato {
	background: #F8F8F8;
	font-family: "Proxima Nova", sans-serif;
	color: #2B2929;
	padding: 40px 70px;
	font-weight: 400;
}
.krovato__container {
	max-width: 1070px;
}
.krovato__content > * {
	margin-bottom: 40px;
}
.krovato__content > *:last-child {
	margin-bottom: 0px;
}
.content__title {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}
.content__image {
	border-radius: 8px;
	width: 100%;
}
.content__text {
	font-size: 16px;
	line-height: 1.87;
}
.content__subtitle {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 30px;
}
.content__list {
	line-height: 1.87;
}
.list-content > *:not(:last-child) {
	margin-bottom: 20px;
}
.list-content__item {
	padding-left: 47px;
	background: url(../img/mark.svg) 0 0 / 26px no-repeat;
}
/* .list-content__item::before {
	content: '';
	background: url(../img/mark.svg) 0 0 / 100% no-repeat;
	vertical-align: middle;
	margin-right: 15px;
	height: 26px;
	width: 26px;
} */
.buttons {

}
.button {
	max-width: 300px;
	padding: 13px 51px;
	border-radius: 8px;
	background: #FFBC57;
	color: #fff;
	text-align: center;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}
.button-left::before {
	content: '';
	height: 12px;
	width: 12px;
	/* vertical-align: middle; */
	background: url(../img/arrow.svg) 0 0 / 12px no-repeat;
	margin-right: 15px;
}
.button-right {
	float: right;
}
.button-right::after {
	content: '';
	height: 12px;
	width: 12px;
	background: url(../img/arrow.svg) 0 0 / 12px no-repeat;
	margin-left: 15px;
}