/* Підключення файлу обнулення */
@import url('reset.css');

/* Підключення файлу шрифтів */
@import url('fonts.css');

/* Підключення шрифтів через Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap");

/* ------------------ */
img {
	max-width: 100%;
}
/* 
:root {
	color-scheme: dark;
} */

body {
	font-family: Montserrat, sans-serif;
	/* overflow: hidden; */
}

[class*="__container"] {
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 15px;
}
/* ------------------ */

.scene {
	position: relative;
	background: url(../img/kremlin.jpg) 0px -100px/cover no-repeat;
	height: 100vh;
}
.scene__fire {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/kremlin-fire.jpg) 0px -60px/cover no-repeat;
	min-width: 100%;
	height: 100vh;
	opacity: 0;
}
/* ------------------ */
.missle {
	width: 200px;
}
.missle--1 {
	position: absolute;
	top: -140px;
	left: 90%;
	transform: rotate(-30deg);
	z-index: 5;
}
.missle--2 {
	position: absolute;
	top: -140px;
	left: 25%;
	transform: rotate(260deg);
	z-index: 5;
}
.missle--3 {
	position: absolute;
	top: -140px;
	left: 10%;
	transform: rotate(-80deg);
	z-index: 5;
}

@keyframes missle--1__run{
	0% {
		transform: translate(0px, 0px) rotate(-30deg);
	}
	100% {
		transform: translate(-200px, 850px) rotate(-30deg);
	}
}
@keyframes missle--2__run{

	0% {
		transform: translate(0px, 0px) rotate(260deg);
	}
	100% {
		transform: translate(400px, 850px) rotate(260deg);
	}
}
@keyframes missle--3__run{
	0% {
		transform: translate(0px, 0px) rotate(-80deg);
	}
	100% {
		transform: translate(100px, 800px) rotate(-80deg);
	}
}
.missle--1 {
	animation-name: missle--1__run;
	animation-duration: 2.6s;
	animation-delay: 1.8s;
}
.missle--2 {
	animation-name: missle--2__run;
	animation-duration: 2.6s;
	animation-delay: 1s;
}
.missle--3 {
	animation-name: missle--3__run;
	animation-duration: 2.4s;
	animation-delay: 2.4s;
}
/* ------------------ */
@keyframes fire-scene {
	from { opacity: 0}
	to { opacity: 1 }
}
.scene__fire {
	animation-name: fire-scene;
	animation-duration: 0.6s;
	animation-delay: 6.2s;
	animation-fill-mode: forwards;
}
/* ------------------ */
.exposion {
	opacity: 0;
}
.exposion--1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
}
.exposion--2 {
	position: absolute;
	top: 60%;
	left: 3%;
}
.exposion--3 {
	position: absolute;
	top: 100%;
	left: 45%;
}
.exposion--4 {
	position: absolute;
	top: 63%;
	left: 70%;
}

@keyframes explosion-fire-1 {
	0% {
		opacity: 0;
		transform: translate(-50%, 0%) scale(1);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, 0%) scale(12);
	}
}
@keyframes explosion-fire-2 {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(4);
	}
}
@keyframes explosion-fire-3 {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}
	100% {
		opacity: 1;
		transform: translateY(-420px);
	}
}
@keyframes explosion-fire-4 {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(3);
	}
}

.exposion--1 {
	animation-name: explosion-fire-1;
	animation-duration: 3s;
	animation-delay: 5s;
} 
.exposion--2 {
	animation-name: explosion-fire-2;
	animation-duration: 3s;
	animation-delay: 4s;
}
 .exposion--3 {
	animation-name: explosion-fire-3;
	animation-duration: 4s;
	animation-delay: 2s;
}
.exposion--4 {
	animation-name: explosion-fire-4;
	animation-duration: 3s;
	animation-delay: 3s;
}
/* ------------------ */
.president {
	width: 200px;
	z-index: 5;
}
.president--1 {
	position: absolute;
	top: 10%;
	left: 100%;
}
.president--2 {
	position: absolute;
	width: 300px;
	top: 40%;
	left:-20%;
	transform: rotateY(180deg);
}
@keyframes plane {
	from { transform: translateX(0);}
	to { transform: translateX(-120vw); }
}
@keyframes plane-2 {
	0% {
		transform: translate(0, 0) rotateY(180deg);
	}
	100% {
		transform: translate(800px, 185px) rotateY(180deg);
	}
}
.president--1 {
	animation-name: plane;
	animation-duration: 3s;
	animation-delay: 8s;
	animation-timing-function: linear;
}
.president--2 {
	animation-name: plane-2;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-delay: 11s;
	animation-fill-mode: forwards;
}
/* ------------------ */
.president-text {
	padding: 10px;
	background-color: white;
	border: 2px solid red;
	border-radius: 15px;
	opacity: 0
}
.president-text--1 {
	position: absolute;
	top: 64%;
	left: 40%;
	width: 150px;
	height: 80px;
	z-index: 5;
}
.president-text--2 {
	/* position: absolute;
	top: 63%;
	left: 40%;
	width: 150px;
	height: 80px; */
}
@keyframes text-president {
	0% {
		opacity: 0;
	}
	50% {
		 opacity: 1;
	}
}
.president-text--1 {
	animation-name: text-president;
	animation-duration: 5.5s;
	animation-delay: 14s;
}
