/* Підключення файлу обнулення */
@import url('reset.css');

/* Підключення файлу шрифтів */
@import url('fonts.css');

/* Підключення шрифтів через Google Fonts */

/* ------------------ */

/* :root {
	color-scheme: dark;
} */

img {
	max-width: 100%;
}

[class*="__container"] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	font-weight: 600;
	/* background-color: #333; */
}

/* ------------------ */
.main {
	padding-block: 70px;
}

.popular {}

.popular__container {}

.title-box {
	display: flex;
	align-items: center;
	gap: 30px;
}
.title-box:not(:last-child) {
	margin-bottom: 40px;
}

.title-box__label {
	color: #2B2929;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}

.title-box__link {
	color: #FFBC57;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	display: flex;
	gap: 10px;
}
.title-box__link::after {
	content: '';
	background: url(../img/krovato/arrow.svg) 0 0 no-repeat;
	width: 24px;
	height: 24px;
	transition: transform 0.3s;
}
.title-box__link:hover::after {
	transform: rotate(-90deg);
}

@media (any-hover: hover) {
	.title-box__link:hover {
		text-decoration: underline;
	}
}


.popular__cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.popular__card {
	padding: 20px;
	display: grid;
	gap: 20px;
}
.card-popular {
	border-radius: 8px;
	border: 1px solid #E3E2E2;
	background: #FFF;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.card-popular__image {
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
}
.card-popular__image img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	aspect-ratio: 260 / 220;
	transition: transform 0.4s;
}

@media (any-hover: hover) {
	.card-popular__image:hover img{
		transform: scale(1.1);
	}
}

.card-popular__body {
	display: grid;
	gap: 10px;
	color: #2B2929;
}
.card-popular__size {
	color: #535353;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}
.card-popular__label {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	cursor: pointer;
	transition: color 0.4s;
}

@media (any-hover: hover) {
	.card-popular__label:hover {
		color: #ffa51e;
	}
}

.card-popular__existence {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
	display: flex;
	align-items: center;
	gap: 5px;
}
.card-popular__existence::before {
	content: '';
	width: 24px;
	height: 24px;
	background: url('../img/krovato/popular/check.svg') 0 0 no-repeat;
}

.card-popular__bottom {
	color: #2B2929;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px; /* Про всяк випадок */
}

.card-popular__price {
}
.price-box {
}
.price-box__discount {
	text-decoration-line: line-through;
	color: #E03D3D;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46;
}
.price-box__cost {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
}

.card-popular__active {
	display: flex;
	gap: 10px;
}
.active-card__fav{
	cursor: pointer;
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F8F8F8;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s;
}
.active-card__bag{
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFBC57;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s;
}

@media (any-hover: hover) {
	.active-card__fav:hover {
		background-color: #dadada;
	}
}
@media (any-hover: hover) {
	.active-card__bag:hover {
		background-color: #ffa51e;
	}
}