/* Підключення файлу обнулення */
@import url('reset.css');

/* Підключення файлу шрифтів */
@import url('fonts.css');

/* Підключення шрифтів через Google Fonts */

/* ------------------ */
/* :root {
	color-scheme: dark;
} */

img {
	max-width: 100%;
}

[class*="__container"] {
	max-width: 1322px;
	margin: 0 auto;
	padding: 0 16px;
}

body {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	font-weight: 600;
	/* background-color: #333; */
}

/* ------------------ */

.header {
	color: #535353;
	font-weight: 400;
}

.header__top {
	padding: 15px 0;
	background-color: #F8F8F8;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.header__logo--top {
	display: none;
}

.nav-top__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
}

.nav-top__item {
	line-height: 30px;
	transition: color 0.3s;
}

@media (any-hover: hover) {
	.nav-top__item:hover {
		color: #FFBC57;
	}
}

.header__box {
	display: flex;
	gap: 30px;
}

.consult-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;
}

.messages-consult {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.messages-consult__item {
	transition: 0.5s;
	/* transform: translate3d(0, 0, 0); */
	/* Обнулення скачків */
	will-change: transform;
}
@media (any-hover: hover) {
	.messages-consult__item:hover {
		transform: scale(1.1);
	}
}

.header__lang {
	display: flex;
	align-items: center;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	transition: color 0.3s;
}

@media (any-hover: hover) {
	.header__lang:hover {
		color: #FFBC57;
	}
}

.header__lang::after {
	content: '';
	width: 24px;
	height: 24px;
	background: url(../img/krovato/header/arrow.svg) center / contain no-repeat;
}

/* ------------------ */

.header__center,
.header__bottom {
	background-color: #FFF;
}

.header__center {
	padding: 25px 0;
	border-bottom: 2px solid #F8F8F8;
}

.header__catalog {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #FFBC57;
	padding: 11px 20px;
	border-radius: 8px;
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	transition: 0.35s;
}

@media (any-hover: hover) {
	.header__catalog:hover {
		background: #fea828;
	}
}

.header__catalog::before {
	content: '';
	background: url(../img/krovato/header/menu-catalog.svg) 0 0 / contain no-repeat;
	width: 24px;
	height: 24px;
	transition: transform 0.4s;
}

@media (any-hover: hover) {
	.header__catalog:hover::before {
		transform: rotate(180deg);
	}
}

.header__form {
	display: flex;
	flex: 1 1 auto;
	position: relative;
}

.form-header__input {
	padding: 9px 56px 9px 14px;
	border-radius: 8px;
	border: 1px solid #b0b0b0;
	font-size: 16px;
	line-height: 1.875;
}

.form-header__button {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background: url(../img/krovato/header/search.svg) center / 24px 24px no-repeat;
	border: 2px solid transparent;
	border-radius: 6px;
	transition: transform 0.8s;
	will-change: transform;
}

.form-header:focus-within .form-header__button {
	transform: translateY(-50%) rotate(360deg);
}

.header__phone::after {
	content: '';
	background: url(../img/krovato/header/arrow.svg) 0 0 / contain no-repeat;
	width: 24px;
	height: 24px;
}

.phone-header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.phone-header__item {
	transition: transform 0.3s;
	width: 50px;
}
.header__phone-top {
	display: none;
}

.phone-header__item:hover {
	animation-name: phone;
	animation-duration: 0.15s;
	animation-iteration-count: 4;
}

@keyframes phone {
	from {
		transform: rotate(-10deg);
	}

	to {
		transform: rotate(0deg);
	}
}

.info {
	text-align: center;
}

.info__text {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.6923;
}

.info__number {
	color: #2B2929;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	transition: color 0.5s;
}

.info__number:hover {
	color: #FFBC57;
	transition: color 0.3s;
}



.header__actions {
	display: flex;
	gap: 20px;
}

.actions-header > * {
	border-radius: 50%;
	transition: box-shadow 0.2s;
	width: 50px;
	/* max-width: unset; */
}

.actions-header__fav:hover,
.actions-header__bag:hover {
	box-shadow: 0px 0px 5px 0px #FFBC57;
}
.actions-header__form-mini {
	display: none;
}
.menu-icon {
	display: none;
}
/* ------------------ */
.header__bottom {
	padding: 18px 0;
}

.nav-bottom__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}

.nav-bottom__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	transition: color 0.3s;
}

.nav-bottom__item--action::before {
	content: '';
	width: 24px;
	height: 24px;
	background: url(../img/krovato/header/akcii.svg) 0 0 / contain no-repeat;
}

.nav-bottom__item--sale::before {
	content: '';
	width: 22px;
	height: 22px;
	background: url(../img/krovato/header/sale.svg) 0 0 / contain no-repeat;
}

.nav-bottom__item--credit::before {
	content: '';
	width: 24px;
	height: 24px;
	background: url(../img/krovato/header/credit.svg) 0 0 / contain no-repeat;
}

.nav-bottom__item:hover {
	color: #FFBC57;
}


@media (max-width: 1140px) {
	.phone-header__info, .header__phone::after{
		display: none;
	}
}
@media (max-width: 1021px) {
	.header__logo--top {
		display: block;
		flex-grow: 1;
	}
	.header__logo--center {
		display: none;
	}
	.header__box {
		justify-self: flex-end;
	}
	.nav-top,
	.nav-bottom__list,
	.header__lang {
		display: none;
	}
	.menu-icon {
		display: block;
		position: relative;
		height: 18px;
		width: 30px;
		flex-shrink: 0;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span{
		content: '';
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		background-color: #000;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		/* top: 50%; */
		background-color: #000;
		transform: translate(0px, -50%);
	}
}
@media (max-width: 767.98px) {
	.header__top {
		background-color: #fff;
	}
	.consult-header,
	.header__box{
		display: none;
	}
	.header__phone-top {
		display: block;
	}
	.phone-header__item--center {
		display: none;
	}
	.header__logo--top {
		margin: 0 auto;
		flex-grow: 0;
	}
}
@media (max-width: 650px) {
	.form-header {
		display: none;
	}
	.actions-header__form-mini {
		display: block;
	}
}
@media (max-width: 430px) {
	.header__logo--top {
		width: 190px;
	}
	.footer__logo img{
		width: 190px;
	}
	.header__container {
		gap: 20px;
	}
	.actions-header__fav,
	.actions-header__bag {
		display: none;
	}
	.actions-header {
		gap: 10px;
	}
}
/* ------------------------------------ */



/* ------------------------------------ */

.footer {
	background-color: #2B2929;
	padding: 40px 0;
}

.footer__logo {
	text-align: center;
}